<nz-card class="calculator-card">
  <div nz-row>
    <div nz-col nzSpan="24">
      <input nz-input placeholder="Enter a number" type="number" class="input-cal"/>
    </div>
  </div><br>
  <div nz-row>
    <div nz-col nzSpan="12" id="#div-set">
      <button nz-button id="button-w" nzType="default" class="hover-button">7</button>
    </div>
    <div nz-col nzSpan="12" id="#div-set">
      <button nz-button id="button-w" nzType="default" class="hover-button">8</button>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="12" id="#div-set">
      <button nz-button id="button-w" nzType="default" class="hover-button">9</button>
    </div>
    <div nz-col nzSpan="12" id="#div-set">
      <button nz-button id="button-w" nzType="default" class="hover-button">÷</button>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="12" id="#div-set">
      <button nz-button id="button-w" nzType="default" class="hover-button">4</button>
    </div>
    <div nz-col nzSpan="12" id="#div-set">
      <button nz-button id="button-w" nzType="default" class="hover-button">5</button>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="12" id="#div-set">
      <button nz-button id="button-w" nzType="default" class="hover-button">6</button>
    </div>
    <div nz-col nzSpan="12" id="#div-set">
      <button nz-button id="button-w" nzType="default" class="hover-button">x</button>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="12" id="#div-set">
      <button nz-button id="button-w" nzType="default" class="hover-button">1</button>
    </div>
    <div nz-col nzSpan="12" id="#div-set">
      <button nz-button id="button-w" nzType="default" class="hover-button">2</button>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="12" id="#div-set">
      <button nz-button id="button-w" nzType="default" class="hover-button">3</button>
    </div>
    <div nz-col nzSpan="12" id="#div-set">
      <button nz-button id="button-w" nzType="default" class="hover-button">-</button>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="12" id="#div-set">
      <button nz-button id="button-w" nzType="default" class="hover-button">0</button>
    </div>
    <div nz-col nzSpan="12" id="#div-set">
      <button nz-button id="button-w" nzType="default" class="hover-button">.</button>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="12" id="#div-set">
      <button nz-button id="button-w" nzType="default" class="hover-button-red">C</button>
    </div>
    <div nz-col nzSpan="12" id="#div-set">
      <button nz-button id="button-w" nzType="default" class="hover-button">+</button>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="12" id="#div-set">
      <button nz-button id="button-w" nzType="default" class="hover-button">=</button>
    </div>
  </div>
</nz-card>