<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item>
        <a routerLink="order-product">Order Product</a>
      </li>
      <li nz-menu-item>
        <a routerLink="calculator">Calculator</a>
      </li>
      <li nz-menu-item>
        <a routerLink="resume">Resume</a>
      </li>
    </ul>
  </nz-header>
  <nz-content>
      <router-outlet></router-outlet>
  </nz-content>
  <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
</nz-layout>