<nz-card class="card-resume">
  <div nz-row>
    <div nz-col nzSpan="24" class="top">
      <div nz-row>
        <div nz-col nzSpan="12">
          <img src="assets/download.jpg" alt="Profile Picture" class="img-profile">
      </div>
      <div nz-col nzSpan="12">
        <div class="name-b">
          <h1 class="name">Thatchaphol Pornlikitchotiwong<br><h6 class="name">(Student)</h6></h1><br>
        </div>
      </div>
      </div>
    </div>
    <div nz-col nzSpan="10">
      <div nz-col nzSpan="24" class="left">
        <h2>Profile</h2>
        <p>Name: Thatchaphol P.</p>
        <p>Nickname: Best</p>
        <p>Sex: Male | Age: 21</p>
        <div class="left-border">
          <h2>Computer Skills</h2>
          <p>C - Good | Python - Good</p>
          <p>SQL - Good | Typescirpt - Basic</p>

          <h2>Languare</h2>
          <p>Thai - Very Good</p>
          <p>English - Good</p>

          <h2>Tools</h2>
          <p>Visual Studio | Arduino </p>
          <p>Visual Studio Code | SSMS</p>
          <p>Android Studio | SpringTool</p>
          <p>Sourcetree</p>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="14">
      <div nz-col nzSpan="24" id="border-b">
        <h1>Education</h1>
        <ul>
          <li>
            <p>Bachelor of Science (Information Technology) at Kasetsart University Siracha Campus</p>
            <p>2020 - Present</p>
          </li>
          <li>
            <p>Science - Mathematics Program at Triam Udom Suksa Pattanakarn School</p>
            <p>2017 - 2020</p>
          </li>
        </ul>
      </div>
      <div nz-col nzSpan="24" id="border-b">
        <h1>Experience</h1>
        <h4>Soft Square Group | 2023 - Present</h4>
        <ul>
          <li>
            <p>Modify the front-end code according to the provided template</p>
          </li>
          <li>
            <p>Create an API to connect the front-end with the back-end</p>
          </li>
        </ul>
      </div>
      <div nz-col nzSpan="24">
        <h1>Contact</h1>
          <div nz-row>
            <div nz-col nzSpan="12">
              <span nz-icon nzType="phone" nzTheme="outline" id="space"></span>
              <span>082 - 323 - 0079</span><br><br>
              <span nz-icon nzType="facebook" nzTheme="outline" id="space"></span>
              <span>Thatchaphol Best</span><br><br>
              <span nz-icon nzType="instagram" nzTheme="outline" id="space"></span>
              <span>Thatchaphol Best</span><br>
            </div>
            <div nz-col nzSpan="12"><span nz-icon nzType="mail" nzTheme="outline" id="space"></span>
              <span>Thatchaphol.po@ku.th</span><br><br>
              <span nz-icon nzType="home" nzTheme="outline" id="space"></span>
              <span>758/311 Pruksa Ville 57, Soi Pattanakarn 38, 
                Phatthanakan Road, 
                Suan Luang Subdistrict, Suan Luang District,
                Bangkok 10250</span>
              </div>
          </div>
      </div>
    </div>
  </div>
</nz-card>
